main {
  min-height: 100vh;
  min-width: 1200px;
}
.banner-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 56.25%;
  }
  .banner-container-bg {
    background: url('@assets/images/home/banner_bg.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .banner-nav-container {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 1716px;
    width: 100%;
    padding: 16px 50px;
    z-index: 2;
    > div {
      display: flex;
      justify-content: center;
      position: relative;
    }
    .banner-nav-logo {
      display: flex;
      position: absolute;
      align-items: center;
      top: 0;
      left: 0;
      &::before {
        content: '';
        display: block;
        background: url('@assets/images/home/dns_dao_logo.png') center center no-repeat;
        background-size: cover;
        width: 48px;
        height: 48px;
        margin-right: 8px;
      }
      &::after {
        content: '';
        display: block;
        background: url('@assets/images/home/dns_dao_logo_label.png') center center no-repeat;
        background-size: 100% auto;
        width: 94px;
        height: 34px;
      }
    }
    .banner-nav-list {
      display: flex;
      align-items: center;
      height: 48px;
      > a {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        margin-right: 56px;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
section {
  width: 100%;
  .subtitle-container {
    display: flex;
    justify-content: center;
    padding-top: 174px;
    padding-bottom: 74px;
    .subtitle {
      user-select: none;
      display: block;
      padding: 0 60px;
      line-height: 80px;
      color: #000;
      font-size: 48px;
      font-weight: 600;
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        background: url('@assets/images/home/subtittle_bg.png') center center no-repeat;
        background-size: cover;
        width: 80px;
        height: 80px;
        left: 0;
        top: 0;
        z-index: 0;
      }
    }
  }
}
.member-container {
  background: rgba(0, 0, 0, 0.02);
  .member-list-container {
    display: flex;
    flex-flow: wrap;
    width: 1136px;
    margin: 0 auto;
    justify-content: space-between;
    .member-list-item {
      width: 560px;
      height: 192px;
      background: linear-gradient(0deg, rgba(153, 182, 255, 0.08), rgba(153, 182, 255, 0.08)),
        linear-gradient(0deg, #ffffff, #ffffff);
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 100px 20px;
      padding: 8px;
      margin-bottom: 48px;
      display: flex;
      &:last-child {
        margin-bottom: 160px;
      }
    }
    .member-list-item-img-box {
      width: 176px;
      height: 176px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      border-radius: 50%;
      margin-right: 8px;
      padding: 8px;
      background: #fff;
      > img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .member-list-item-desc-box {
      background: #ffffff;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 100px 20px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      .member-list-item-title {
        font-weight: 600;
        font-size: 28px;
        color: #000000;
      }
      .member-list-item-info {
        .member-list-item-desc {
          padding: 8px;
          width: 360px;
          height: 128px;
          font-size: 16px;
          line-height: 21px;
          color: #000;
          margin-bottom: 8px;
        }
        .member-list-item-contact-list {
          width: 360px;
          height: 40px;
          display: flex;
          align-items: center;
          .member-list-item-contact-item {
            width: 40px;
            height: 40px;
            cursor: pointer;
            &-icon {
              display: block;
              width: 100%;
              height: 100%;
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              &.twitter {
                background-image: url('@assets/images/home/icon_twitter.png');
              }
              &.linkedin {
                background-image: url('@assets/images/home/icon_linkedin.png');
              }
            }
          }
        }
      }
    }
  }
}
.project-container {
  background: linear-gradient(0deg, rgba(153, 182, 255, 0.08), rgba(153, 182, 255, 0.08)),
    linear-gradient(0deg, #ffffff, #ffffff);
  .project-content-container {
    display: flex;
    justify-content: center;
    padding-bottom: 160px;
  }
  .project-list-nav {
    width: 160px;
    margin-right: 16px;
    display: flex;
    flex-flow: column;
    align-items: center;
    .project-list-nav-item {
      width: 144px;
      height: 58px;
      background: #ffffff;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      font-weight: 600;
      font-size: 20px;
      line-height: 58px;
      text-align: center;
      color: #000000;
      margin-bottom: 16px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .project-description-container {
    width: 960px;
  }
  .project-description-info {
    padding: 24px;
    height: 214px;
    background: linear-gradient(92.94deg, rgba(0, 170, 91, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 16px;
    display: flex;
    .project-description-logo-box {
      width: 80px;
      height: 80px;
      margin-right: 24px;
      > img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .project-description-info-box {
      display: flex;
      flex-flow: column;
      flex: 1;
      justify-content: space-between;
    }
    .project-description-info-text {
      line-height: 21px;
      font-size: 16px;
      color: #000;
    }
    .project-description-info-more-btn {
      border: 1px solid #000000;
      border-radius: 10px;
      width: 72px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
      user-select: none;
    }
  }
  .project-member-list-container {
    padding: 24px;
    display: flex;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    .project-member-list-box {
      width: 848px;
      height: 228px;
      overflow-y: hidden;
      overflow-x: auto;
      margin-right: 16px;
      display: flex;
    }
    .project-member-list-item {
      flex-shrink: 0;
      width: 200px;
      display: flex;
      flex-flow: column;
      align-items: center;
      height: 228px;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
      > img {
        display: block;
        width: 80px;
        height: 80px;
        margin-bottom: 8px;
        border-radius: 20px;
      }
      .project-member-list-item-name {
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #000000;
        margin-bottom: 8px;
      }
      .project-member-list-item-other-info {
        > p {
          font-size: 16px;
          line-height: 21px;
          text-align: center;
          color: #000000;
        }
        margin-bottom: 8px;
      }
      .project-member-list-item-contact-list {
        display: flex;
        .project-member-list-item-contact-item {
          width: 40px;
          height: 40px;
          cursor: pointer;
          &-icon {
            display: block;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            &.twitter {
              background-image: url('@assets/images/home/icon_twitter.png');
            }
            &.linkedin {
              background-image: url('@assets/images/home/icon_linkedin.png');
            }
          }
        }
      }
    }
    .project-member-list-more-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 228px;
      background: #ffffff;
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
      border-radius: 100px;
      &::after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        cursor: pointer;
        user-select: none;
        background: url('@assets/images/home/icon_arrow_right.png') center center no-repeat;
        background-size: cover;
      }
    }
  }
}
.research-container {
  background: rgba(0, 0, 0, 0.02);
  padding-bottom: 160px;
  .research-content-list {
    display: flex;
    justify-content: center;
    align-items: center;
    .research-content-item {
      width: 368px;
      height: 370px;
      position: relative;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
      .research-content-item-img-box {
        width: 320px;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        background: linear-gradient(0deg, rgba(153, 182, 255, 0.08), rgba(153, 182, 255, 0.08)),
          linear-gradient(0deg, #ffffff, #ffffff);
        > img {
          display: block;
          width: 240px;
          height: auto;
        }
      }
      .research-content-item-link-box {
        width: 320px;
        height: 100px;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        cursor: pointer;
        &:hover {
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)),
            linear-gradient(0deg, #ffffff, #ffffff);
        }
        > span {
          display: block;
          width: 236px;
          height: 52px;
          margin-right: 8px;
          line-height: 26px;
          text-align: center;
          font-weight: 600;
          font-size: 20px;
          color: #000000;
        }
        > i {
          display: block;
          width: 28px;
          height: 28px;
          background: url('@assets/images/home/icon_goto_black.png') center center no-repeat;
          background-size: cover;
        }
      }
    }
  }
}
.qfii-container {
  background: rgba(0, 0, 0, 0);
  .qfii-container-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 56px;
    .qfii-container-list-item {
      height: 176px;
      width: 176px;
      margin-right: 112px;
      padding: 8px;
      position: relative;
      cursor: pointer;
      background: linear-gradient(0deg, rgba(153, 182, 255, 0.08), rgba(153, 182, 255, 0.08)),
        linear-gradient(0deg, #ffffff, #ffffff);
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 80px 20px;
      .qfii-container-list-item-popup {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 80px 20px;
        z-index: 1;
        height: 176px;
        width: 176px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .qfii-container-list-item-popup-icon {
          position: relative;
          height: 60px;
          width: 60px;
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 60px;
            width: 60px;
            background: rgba(255, 255, 255, 80%);
            z-index: 1;
            border-radius: 50%;
          }
          &::after {
            content: '';
            display: block;
            background: url('@assets/images/home/icon_arrow_r_t.png') center center no-repeat;
            background-size: cover;
            position: absolute;
            top: 10px;
            left: 10px;
            height: 40px;
            width: 40px;
            z-index: 2;
            border-radius: 50%;
          }
        }
      }
      .qfii-container-list-item-img-box {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        padding: 8px;
        > img {
          border-radius: 50%;
          width: 144px;
          height: 144px;
          display: block;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .qfii-container-more-btn-box {
    display: flex;
    justify-content: center;
    padding-bottom: 168px;
    .qfii-container-more-btn {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      position: relative;
      color: #000;
      display: block;
      border-bottom: 2px solid #000;
      cursor: pointer;
      user-select: none;
    }
  }
}
.about-container {
  background: rgba(0, 0, 0, 0.02);
  .about-content-container {
    display: flex;
    padding: 130px 0;
    justify-content: center;
    .about-content-container-box {
      padding: 8px 24px;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;
    }
    .about-container-preview-img {
      margin-left: 20px;
      img {
        height: 460px;
        width: 656px;
        border-radius: 20px;
        display: block;
      }
    }
    .about-content-container-title {
      font-size: 48px;
      font-weight: 600;
      line-height: 64px;
      color: #000;
    }
    .about-content-container-introduction {
      font-size: 24px;
      line-height: 32px;
      color: #000;
      margin-top: 16px;
      margin-bottom: 20px;
      height: 234px;
      width: 416px;
      display: flex;
      align-items: center;
    }
    .about-content-container-goto-vote-btn {
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
      background: #fff;
      height: 70px;
      width: 244px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: pointer;
      span {
        font-size: 28px;
        line-height: 36px;
        display: block;
        font-weight: 600;
        color: #00aa5b;
        padding-top: 3px;
      }
      i {
        display: block;
        margin-left: 10px;
        width: 28px;
        height: 28px;
        background: url('@assets/images/home/icon_goto_green.png') center center no-repeat;
        background-size: cover;
      }
    }
  }
}
.social-container {
  background: rgba(0, 0, 0, 0);
  .social-content-container {
    background: rgba(0, 0, 0, 0);
    padding-bottom: 160px;
    .news-list {
      justify-content: center;
      display: flex;
    }
    .news-item {
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
      background: #ffffff;
      height: 592px;
      width: 560px;
      border-radius: 20px;
      padding: 24px;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
      .news-title {
        font-family: Fira Code;
        font-size: 48px;
        font-weight: 600;
        line-height: 64px;
        text-align: center;
        color: rgba(0, 0, 0, 0.85);
        margin-bottom: 10px;
      }
      .news-preview-img {
        img {
          width: 512px;
          height: 306px;
          display: block;
        }
      }
      .news-introduction {
        margin-top: 10px;
        font-size: 24px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.85);
      }
    }
  }
}
.footer-container {
  background: #020112;
  > div {
    width: 1136px;
    margin: 0 auto;
  }
  .sub-info {
    height: 184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .dns-dao-banner {
      display: flex;
      align-items: center;
      i {
        display: inline-block;
        width: 48px;
        height: 48px;
        background: url('@assets/images/home/dns_dao_logo.png') center center no-repeat;
        background-size: cover;
        margin-right: 24px;
      }
      span {
        font-weight: 600;
        font-size: 24px;
        color: #fff;
      }
    }
    .contact-details {
      .contact-item {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        cursor: pointer;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
        &.icon-msg {
          background-image: url('@assets/images/home/icon_msg.png');
        }
        &.icon-twitter {
          background-image: url('@assets/images/home/icon_twitter.png');
        }
        &.icon-facebook {
          background-image: url('@assets/images/home/icon_facebook.png');
        }
        &.icon-telegram {
          background-image: url('@assets/images/home/icon_telegram.png');
        }
        &.icon-github {
          background-image: url('@assets/images/home/icon_github.png');
        }
      }
    }
  }
  .copyright {
    color: #fff;
    line-height: 40px;
    font-size: 16px;
  }
}
