.research-container {
  background: rgba(0, 0, 0, 0.02);
  padding-bottom: 160px;
  .research-content-list {
    display: flex;
    justify-content: center;
    align-items: center;
    .research-content-item {
      width: 368px;
      height: 370px;
      position: relative;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
      .research-content-item-img-box {
        width: 320px;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        background: linear-gradient(0deg, rgba(153, 182, 255, 0.08), rgba(153, 182, 255, 0.08)),
          linear-gradient(0deg, #ffffff, #ffffff);
        > img {
          display: block;
          width: 240px;
          height: auto;
        }
      }
      .research-content-item-link-box {
        width: 320px;
        height: 100px;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          background: linear-gradient(0deg, rgba(0, 170, 91, 0.08), rgba(0, 170, 91, 0.08)), #ffffff;
        }
        > span {
          display: block;
          width: 236px;
          white-space: pre-line;
          margin-right: 8px;
          line-height: 26px;
          text-align: center;
          font-weight: 600;
          font-size: 20px;
          color: #000000;
        }
        > i {
          display: block;
          width: 28px;
          height: 28px;
          background: url('@assets/images/home/icon_goto_black.png') center center no-repeat;
          background-size: cover;
        }
      }
    }
  }
}
.about-container {
  .about-content-container {
    display: flex;
    padding: 130px 0;
    justify-content: center;
    .about-content-container-box {
      padding: 8px 24px;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;
    }
    .about-container-preview-img {
      margin-left: 20px;
      img {
        height: 460px;
        width: 656px;
        border-radius: 20px;
        display: block;
      }
    }
    .about-content-container-title {
      font-size: 48px;
      font-weight: 600;
      line-height: 64px;
      color: #000;
    }
    .about-content-container-introduction {
      font-size: 24px;
      line-height: 32px;
      color: #000;
      margin-top: 16px;
      margin-bottom: 20px;
      height: 234px;
      width: 416px;
      display: flex;
      align-items: center;
    }
    .about-content-container-goto-vote-btn {
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
      background: #fff;
      height: 70px;
      width: 244px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: pointer;
      span {
        font-size: 28px;
        line-height: 36px;
        display: block;
        font-weight: 600;
        color: #00aa5b;
        padding-top: 3px;
      }
      i {
        display: block;
        margin-left: 10px;
        width: 28px;
        height: 28px;
        background: url('@assets/images/home/icon_goto_green.png') center center no-repeat;
        background-size: cover;
      }
    }
  }
}
.social-container {
  background: rgba(0, 0, 0, 0.02);
  .social-content-container {
    background: rgba(0, 0, 0, 0);
    padding-bottom: 160px;
    .news-list {
      justify-content: center;
      display: flex;
    }
    .news-item {
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
      background: #ffffff;
      width: 560px;
      border-radius: 20px;
      padding: 24px;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
      > a {
        text-decoration: none;
      }
      .news-title {
        font-family: Fira Code;
        font-size: 26px;
        font-weight: 700;
        line-height: 34px;
        color: rgba(0, 0, 0, 0.85);
        margin-bottom: 24px;
        text-align: center;
      }
      .news-sub-title {
        text-align: right;
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.85);
      }
      .news-preview-img {
        img {
          width: 512px;
          height: 306px;
          display: block;
        }
      }
      .news-introduction {
        margin-top: 24px;
        font-size: 24px;
        line-height: 31px;
        height: 155px;
        color: rgba(0, 0, 0, 0.85);
        word-spacing: -1px;
        &:hover {
          color: #1c8fc9;
        }
      }
    }
  }
}
