.project-container {
  .project-content-container {
    display: flex;
    justify-content: center;
    padding-bottom: 160px;
  }
  .project-list-nav {
    width: 160px;
    margin-right: 16px;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    padding: 0 8px;
    .project-list-nav-item {
      padding: 16px;
      width: 144px;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: rgba(0, 0, 0, 0.45);
      margin-bottom: 16px;
      cursor: pointer;
      position: relative;
      z-index: 2;
      &.active {
        color: #00aa5b;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .project-list-nav-item-bg {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 8px;
      width: 144px;
      height: 84px;
      transition: all 0.5s ease-in-out;
      background: linear-gradient(0deg, rgba(153, 182, 255, 0.04), rgba(153, 182, 255, 0.04)),
        #ffffff;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .project-description-container {
    width: 980px;
    height: 526px;
    margin: -10px;
    .project-description-container-wrapper {
      padding: 10px;
    }
  }
  .project-description-info {
    padding: 24px;
    width: 100%;
    height: 214px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 16px;
    display: flex;
    .project-description-logo-box {
      width: 80px;
      height: 80px;
      margin-right: 24px;
      > img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .project-description-info-box {
      display: flex;
      flex-flow: column;
      flex: 1;
      justify-content: space-between;
    }
    .project-description-info-text {
      line-height: 21px;
      font-size: 16px;
      color: #000;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      overflow: hidden;
      -webkit-box-orient: vertical;
    }
    .project-description-info-more-btn {
      border: 1px solid #000000;
      border-radius: 10px;
      width: 72px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      user-select: none;
      display: block;
      text-decoration: none;
      color: #000;
    }
  }
  .project-member-list-container {
    padding: 24px 12px;
    width: 100%;
    display: flex;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    justify-content: space-between;
    .project-member-list-box {
      width: 824px;
      height: 228px;
      overflow: hidden;
    }
    .project-member-list-box-wrapper {
      display: flex;
      transition: all 0.5s ease-in-out;
    }
    .project-member-list-item {
      flex-shrink: 0;
      width: 200px;
      display: flex;
      flex-flow: column;
      align-items: center;
      height: 228px;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
      > img {
        display: block;
        width: 80px;
        height: 80px;
        margin-bottom: 8px;
        border-radius: 20px;
      }
      .project-member-list-item-name {
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        color: #000000;
        margin-bottom: 8px;
      }
      .project-member-list-item-other-info {
        flex: 1;
        > p {
          font-size: 16px;
          line-height: 21px;
          text-align: center;
          color: #000000;
        }
        margin-bottom: 8px;
      }
      .project-member-list-item-contact-list {
        display: flex;
        .project-member-list-item-contact-item {
          width: 40px;
          height: 40px;
          cursor: pointer;
          display: block;
          &-icon {
            display: block;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            &.twitter {
              background-image: url('@assets/images/home/icon_twitter.png');
            }
            &.github {
              background-image: url('@assets/images/home/icon_github.png');
            }
          }
        }
      }
    }
    .project-member-list-prev-btn,
    .project-member-list-next-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 228px;
      background: #ffffff;
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
      border-radius: 100px;
      cursor: pointer;
      user-select: none;
      &::after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &.disabled {
        background: rgba(31, 31, 31, 0.12);
        cursor: not-allowed;
      }
      &:hover:not(.disabled) {
        background: linear-gradient(0deg, rgba(0, 170, 91, 0.08), rgba(0, 170, 91, 0.08)), #ffffff;
      }
    }
    .project-member-list-prev-btn.disabled::after {
      background-image: url('@assets/images/home/icon_arrow_left_disabled.png');
    }
    .project-member-list-next-btn.disabled::after {
      background-image: url('@assets/images/home/icon_arrow_right_disabled.png');
    }
    .project-member-list-prev-btn::after {
      background-image: url('@assets/images/home/icon_arrow_left.png');
    }
    .project-member-list-next-btn::after {
      background-image: url('@assets/images/home/icon_arrow_right.png');
    }
  }
}
